<h1>Listing networks</h1>

<table>
  <tr>
    <th>Src</th>
    <th>Href</th>
    <th>Title</th>
    <th>Which</th>
    <th></th>
  </tr>

  <%= render :partial => "network", :collection => @networks %>
</table>

<br />

<%= link_to 'New Network', new_network_path %>
