<h2>Show me the recipes</h2>
<div id="notice"></div>
<ul id="recipe_container"> </ul>

<script type="text/javascript">
  var Recipes;
  $(function() {
    // By default, Underscore uses ERB-style template delimiters, this change
    // makes it use mustache style.
    _.templateSettings = {
      interpolate : /\{\{([\s\S]+?)\}\}/g
    };
    Recipes = new App.Collections.Recipes;
    Recipes.reset(<%= @recipes.to_json.html_safe %>);
  });
</script>


<script type="text/template" id="recipe-li">
  <a href='/recipes/{{id}}' class="title">
    {{title}}
  </a>
  <ul class="ingredients">
  </ul>
</script>
<script type="text/template" id="ingredient-li">
  <span class="amount">
    {{amount}}
  </span>
  <span class="name">
    {{name}}
  </span>
</script>

