<h2>Show me the recipes</h2>

<% @recipes.each do |r| %>
  <%= link_to r.title, r %>
  <ul>
    <% r.ingredients.each do |i| %>
      <li><%= i.amount %> grams <%= i.name %></li>
    <% end %>
  </ul>
<% end %>
