<ul id="recipe_container"> </ul>

<script type="text/javascript">
  var Recipe;
  var ingredients = <%= @ingredients.to_json(:only => [:id, :name]).html_safe %>;
  $(function() {
    // By default, Underscore uses ERB-style template delimiters, this change
    // makes it use mustache style.
    _.templateSettings = {
      interpolate : /\{\{([\s\S]+?)\}\}/g
    };
    Recipe = new App.Models.Recipe(<%= @recipe.to_json(:include => {:parts => {:include => {:ingredient => {:only => :name}}}} ).html_safe %>);
  });
</script>

<script type="text/template" id="recipe-li">
  <a href='/recipes/{{id}}' class="title">
    {{title}}
  </a>
  <table>
    <tbody id="part-list">
    </tbody>
  <tfoot>
    <tr>
      <td class="amount-col"> <input class="new-amount" placeholder="12" /> </td>
      <td class="unit-col">
        <select class="new-unit">
          <option value='g'>grams</option>
          <option value='oz'>ounces</option>
          <option value='cup'>cups</option>
          <option value='tsp'>tsp</option>
          <option value='Tbsp'>Tbsp</option>
        </select>
      </td>
      <td class="name-col"> <input class="new-name" placeholder="salt" /> </td>
      <td class="button-col"> <button class='icon icononly add button'></button> </td>
    </tr>
  </tfoot>
  </table>
  
</script>

<script type="text/template" id="part-li">
  <td class='amount-col'>
    <span class="amount"> {{amount}} </span>
    <input class="edit-amount hidden" value={{amount}} />
  </td>

  <td class='unit-col'>
    <span class="unit">{{unit}}</span>
    <select class="edit-unit hidden">
      <option value='g'>grams</option>
      <option value='oz'>ounces</option>
      <option value='cup'>cups</option>
      <option value='tsp'>tsp</option>
      <option value='Tbsp'>Tbsp</option>
    </select>
  </td>
  
  <td class='name-col'>
    <span class="name"> {{ingredient.name}} </span>
    <input class="edit-name hidden" value={{ingredient.name}} />
  </td>
  <td class='button-col'>
    <button class='icon icononly remove danger button'></button>
  </td>
</script>

<script type="text/template" id="recipe-stats">
</script>
