@light_blue: #B9D9F3;
@dark_blue: #293e6a;
@orange: #ffee01;
@width: 900px;
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, a {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;//"proxima-nova-1","proxima-nova-2",Tahoma,Helvetica,Verdana,sans-serif;
  background: #fefefe;
  font-size: 100%;
}
ul {
  list-style: none;
}
p {
  margin: 5px 0 10px 0;
}
.padded {
  margin: 20px;
  padding: 40px 20px;
}
.draft {
  border: 1px dashed red;
}
.preview {
  width: @width;
  position: relative;
  margin: 40px 0;
  .faqs_answer{
    padding-left: 30px;
  }
}
.transition(@duration) {
  -moz-transition: -moz-transform @duration ease;
  -webkit-transition: -webkit-transform @duration ease;
  -o-transition: -o-transform @duration ease;
  transition: all @duration ease;
}
.rotate(@deg: 0deg) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
}
#arrow {
}
.arrow_down {
  .rotate(180deg);
}
.arrow_up {
  .rotate();
}
.fast_transition {
  .transition(0.6s);
}
.slow_transition {
  .transition(10s);
}
.hidden {
  display: none;
}

.rounded-top-corners (@radius: 35px) {
  //-moz-border-radius: @radius 0;
  //border-radius: @radius 0; /* includes Opera 10.5+ */
  -webkit-border-top-left-radius: @radius;
  //-webkit-border-top-right-radius: @radius;
}
.rounded-bottom-corners (@radius: 35px) {
  //-moz-border-radius: 0 @radius;
  //border-radius: 0 @radius;
  -webkit-border-bottom-right-radius: @radius;
  //-webkit-border-bottom-left-radius: @radius;
}

.drop_shadow(@blur: 10px, @offset: 1px, @color: rgba(0,0,0,0.5)) {
  box-shadow: @color 0px 0px @blur @offset; 
}
#content {
  width: @width;
  margin: 40px auto;
  .rounded-top-corners();
  .rounded-bottom-corners();
  .drop_shadow();
  
  #name_header {
    .rounded-top-corners();
    overflow:hidden;
    background: @light_blue;
    padding: 20px 0;
    height: 80px;
    h1 {
      padding: 20px;
      text-shadow: rgba(99,116,171,0.7) 3px 3px 3px;
    }
  }
}
.same_bg {
  .rounded-bottom-corners();
  background:#fff;
}
#about {
  clear: both;
  margin: 30px auto;
  width: @width - 200px;
}
.gravatar {
  position: relative;
  top: -78px;
  right: 20px;
  float: right;
}
#qanda {
  padding: 20px;
  overflow: hidden;
  .question {
    cursor: s-resize;
    :hover {
      color: @dark_blue;
    }
  }
  .answer {
    display: none;
    margin: 10px;
    width: @width - 60px;
  }
}

ul#networks {
  overflow: hidden;
  width: @width;
  img {
    width: 16px;
    height: auto;
    vertical-align: bottom;
    margin-bottom:-7px;
  }
  li {
    float: left;
    margin: 20px;
  }
  a {
    top: 7px;
    position: relative;
  }
}
