<div class="question">
  <% if current_user and current_user.admin %>
    <h2><%= link_to faq.question, edit_faq_path(faq) %></h2>
  <% else %>
    <h2><%= faq.question %></h2>
  <% end %>
</div>
<div class="answer">
  <%= markdown(faq.answer)%>
</div>

