<footer id="ribbon_wrapper">
  <%= link_to image_tag("http://i.creativecommons.org/l/by/3.0/80x15.png"), href="http://creativecommons.org/licenses/by/3.0/us" %>
  Unless otherwise noted, the content on this site is licensed under a 
  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
  <div class="ribbon">
    <a href="http://github.com/lashleigh/portfolio" rel="me">Fork me on GitHub</a>
  </div>
</footer>
