<div id="name_header">
  <h1>ashleigh baumgardner </h1>
  <ul id="networks">
    <%= render 'home/static_network' %>
  </ul>
  <%= image_tag('http://www.gravatar.com/avatar/3be78cd4d00d1de7591f489d02830dd5?s=100', :class => "gravatar") %>
</div>
