<ul id="networks">
  <li>
    <img src="images/github.png" />
    <a rel="me" target="_blank" href="http://github.com/lashleigh">GitHub</a>
  </li>
  <li>
    <img src="images/stackoverflow.png" />
    <a href="http://stackoverflow.com/users/337582/lashleigh" rel="_me" target="_blank" style="">stack overflow</a>
  </li>
  <li>
    <img src="images/linkedin.png" />
    <a rel="me" target="_blank" href="http://linkedin.com/in/lashleigh">LinkedIn</a>
  </li>
  <li>
    <img src="images/t_small-a.png" />
    <a href="http://twitter.com/lashleigh">Twitter</a>
  </li>
  <li>
    <img src="images/facebook.png" />
    <a rel="me" target="_blank" href="http://www.facebook.com/#!/profile.php?id=25902647">Facebook</a>  
  </li>
  <li>
    <img src="images/youtube.png" />
    <a rel="me" target="_blank" href="http://youtube.com/user/WasntThisAvailable">Youtube</a>
  </li>
  <li>
    <img src="images/flickr.png" />
    <a rel="me" target="_blank" href="http://www.flickr.com/photos/lashleigh/">Flickr</a>
  </li>
</ul>


