<% [['github',      "http://github.com/lashleigh"], 
    ['stackoverflow', "http://stackoverflow.com/users/337582/lashleigh"],
    ['facebook',      "http://www.facebook.com/#!/profile.php?id=25902647"],
    ['linkedin',      "http://linkedin.com/in/lashleigh"],
    ['twitter',       "http://twitter.com/lashleigh"],
    ['youtube',       "http://youtube.com/user/WasntThisAvailable"],
    ['flickr',        "http://www.flickr.com/photos/lashleigh"]].each do |name, url| %>
    <li> 
    <%= link_to image_tag(name+'.png', :alt => name), href=url, :title => name %> 
    </li>
<% end %>
