#recipe_container {
  li.recipe {
    padding: 20px;
    color: blue;
  }
  .editing-amount .amount {
    display: none;
  }
  .editing-name .name {
    display: none;
  }
  .ingredients {
    .amount {
    }
  }
  input.edit-amount, input.new-amount {
    width: 30px;
  }
  input.edit-name, input.new-name {
    width: 70px;
  }
}
