#recipes_container {
  .recipe {
    padding: 20px;
    color: blue;
  }
  .editing-hydration .hydration {
    display: none;
  }
  .editing-amount .amount {
    display: none;
  }
  .editing-name .name {
    display: none;
  }
  .editing-percent .percent {
    display: none;
  }
  .amount-col {
    width: 30px;
    .amount, input.edit-amount, input#new-amount {
      float: right;
      width: 100%;
      text-align: right;
    }
  }
  .unit-col {
    width: 20px;
    text-align: center;
    .unit {
      width: 100%;
    }
  }
  .percent-col {
    width: 25px;
    text-align: center;
    .percent, input.edit-percent, input#new-percent {
      width: 100%;
    }
  }
  .name-col {
    width: 100px;
    .name, input.edit-name, input#new-name {
      float: left;
      width: 92%;
      text-align: left;
    }
  }
  #ingredient-list {
    .ingredient:hover {
      background: #bab;
    }
    tr:nth-child(odd) {
      background: #ddd;
    }
  }
  .bakers-percent-col, .bakers-percent {
    width: 37px;
  }
}
