#recipe_container {
  width: 960px;
  overflow: hidden;
  .editable:hover, .editing {
    background: #ffffd3 !important;
  }
  #stats {
    float: left;
    padding: 12px;
    background: #E0E0E0;
    width: 375px;
    border: 1px solid #CCC;
    li {
      float: left;
      line-height: 2.0em;
      padding: 1em 0;
      width: 31.9%;
      background: white;
      border-radius: 10px;
      margin: 0 1%;
    }
    .label, .val {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .label {
      float: left;
      text-align: center;
    }
    .val {
      font-size: 2em;
      text-align: center;
      float: left;
    }
    input.val {
      width: 80%;
      margin: 0 auto;
    }
  }
  #stats li { 
    input {
      display: none;
      width: 2em;
    }
  }
  #stats .editing {
    span.val {
      display:none !important;
    }
    input {
      display: inline !important;
    }
  }
  .recipe .editing, #recipe-title.editing {
    span {
      display:none !important;
    }
    input {
      display: inline !important;
    }
  }
  .recipe {
    float: left;
    padding: 0 20px;
  }
  #recipe-title {
    margin: 20px 20px 0 20px;
    padding: 12px;
    width: 375px;
    span {
      font-family: verdana, arial, helvetica, sans-serif;
      font-size:   25px;
      line-height: 18px;
      width: 100%;
    }
  }
  .part input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
    background: transparent;
  }
  .amount-col {
    width: 50px;
    .amount, input.edit-amount, input#new-amount {
      float: right;
      width: 100%;
      text-align: right;
      overflow: hidden;
    }
  }
  .unit-col {
    width: 15px;
    text-align: center;
  }
  .percent-col {
    width: 45px;
    text-align: center;
    .percent, input.edit-percent, input#new-percent {
      float: left; // Somehow having a float here stops the column from size adjusting to accomodate overlong values
      width: 100%;
      text-align: center;
      overflow: hidden;
    }
  }
  .name-col {
    width: 130px;
    .name, input.edit-name, input#new-name {
      float: left;
      width: 100%;
      text-align: left;
      overflow: hidden;
    }
  }
  .amount-col, .name-col, .percent-col, .fixed-percent, .button-col {
    padding: 0 10px 0 10px;
  }
  .recipe table {
    border-spacing: 0px;
    width: 400px;
  }
  #new-part {
    border-top: 1px solid #AAA;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    float: left;
    div {
      float: left;
    }
  }
  #part-list {
    .part {
      height: 2.5em;
      width: 300px;
      .editable input {
        display: none;
      }
      .remove.button {
        opacity: .25;
      }
      .remove.button:hover {
        opacity: 1.0 !important;
      }
    }
    .part:hover {
      .remove.button {opacity: 0.75;}
    }
    tr:nth-child(odd) {
      background: #ddd;
    }
  }
  .bakers-percent-col, .bakers-percent {
    width: 37px;
  }
}
#notes_container {
  float: left;
  padding-top: 12px;
  width: 400px;
  
  textarea {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
    background: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
  }
  #new-note {
    textarea {
      background: white;
      overflow: hidden;
    }
  }
  .note.editing {
    .show-body .body {
       display: none;
    }
    .edit-body {
       display: inline !important;
    }
  }
  .note:hover {
    background: #ffffd3 !important;
  }
  .note, #new-note {
    :hover .remove.button {
      opacity: 1.0;
    }
    .remove.button {
      opacity: 0.25;
    }
    background: #e0e0e0;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 12px;
    .edit-body {
       display: none;
    }
    .body {
      width: 100%;
      overflow: auto;
    } 
    .body-input {
      color: #333;
      height: 100px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 1em;
    }
    .time {
      float: left;
    }
    .remove {
      float: right;
    }
  }
}
