@width: 1024px;
@height: 768px;
@slide_margin: 20px;
@grid_scale: 0.4;

.presentation {
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(black));
  background: -moz-linear-gradient(top, #444, black);
  background: -o-linear-gradient(top, #444, black);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}
.CodeMirror {
  position: absolute;
  top: 50%;
  z-index: 999;
  background: white;
  display: none;
}
.slide_transition {
  -webkit-transition: all 0.55s linear; //ease-in-out;
  -moz-transition: all 0.55s linear;
  -o-transition: all 0.55s linear;
}
.slide {
  top: 50%; 
  box-shadow: 0px 0px 9px black;
  background: white; 
  background: -webkit-gradient(linear, left bottom, left top, from(#BBD), to(white));
  overflow:hidden;
  visibility: visible;
  display: block;
  opacity: .35;
  position: absolute;
  right: 50%;
}
.small_float_right {
  display: none;
  position: absolute;
  right: 0px;
  margin-right: -133px;
  z-index: 1000;
  -webkit-transform: scale(.7);
}
.slide.current {
  opacity: 1.0 !important;
}
.slide.reduced {
  -webkit-transform: scale(0.8);
}
.slide:nth-child(even) {
  border-radius: 5% 0; /* includes Opera 10.5+ */
}
.slide:nth-child(odd) {
  border-radius: 0 5%;
}
#slide_options {
  left: 50%;
  margin-left: -121px;
  top: 0px;
  position: absolute;
  display: block;
}
#slideshow_options{
  right: 0px;
  top: 0px;
  position: absolute;
  display: block;
}
#scale-slider {
 background: white;
}
.completions {
  position: absolute;
  z-index: 999;
  overflow: hidden;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}
.completions select {
  background: #fafafa;
  outline: none; 
  border: none; 
  padding: 0;
  margin: 0;
  font-family: monospace;
}
