<!DOCTYPE html>
<html>
<head>
  <title>Ashleigh</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <!-- Hello! You are inspecting my source code; that makes you such a geek. An -->
  <!-- awesome, awesome geek! Please don't hesitate to send me a message if you -->
  <!-- have any observations, questions or criticisms. Have a great day. -->
<%= yield %>

</body>
</html>
