<!DOCTYPE html>
<html>
<head>
  <title>Ashleigh</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="presentation" class="presentation">
    <div id="slides_container" class="slides"> 
      <input id="scale_slides" type="range" min="10" max="200" value="100" onchange='zoom_slides()'/>
      <div id="options" style="display:none;">
        <div id="slideshow_options">
          <button id="save_slideshow">Save</button>
        </div>
        <div id="slide_options">
          <button id="deactivate_current">Deactivate</button>
          <button id="delete_current" >Delete</button>
          <button id="duplicate_current" >Duplicate</button>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>


</body>
</html>
