<!DOCTYPE html>
<html>
<head>
  <title>Ashleigh</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="presentation" class="presentation">
    <input id="scale_slides" type="range" min="10" max="200" value="100" onchange='zoom_slides()'/>
    <div id="options">
      <div id="slide_options" class="button-group">
        <button class="button big left" id="insert_after_currect">Insert Blank</button>
        <button class="button big" id="delete_current" >Delete</button>
        <button class="button big right" id="duplicate_current" >Duplicate</button>
      </div>
    </div>
    <%= yield %>
  </div>


</body>
</html>
